a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover,
a:active {
    color: lightgray;
}


.nav-items a {
    margin: 5px;
}

.hide {
    display: none;
}

@media screen and (max-width: 599px) {
    .hidden-mobile {
        display: none;
    }

    .show-mobile {
        display: unset;
    }
}